body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.footer-text {
    margin-left: 120px;
    margin-right:120px;
}

.footer-left {
    list-style-type: none;
    margin-bottom: 25px;
    padding: 0;
    float: left;
}

.footer-right {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
}

.footer-list {
    display: inline;
    margin-right: 20px;
}

.FAQ{
    display: inline;
    margin-left: 50px;
}

footer {
    background-color: #F8F8F8;
}

.Copyright {
    clear: both;
    text-align: center;
}

.main-nav1 {
    width: 100%;
    margin: auto;
    border-radius: 10px;
    position: fixed;
    top: 0px;
}

.main-nav1 .navbar-fixed-top {
    position: relative;
    border-radius: 20px;
}

.main-nav1 .navbar-inverse {
    background-color: #990099;
}