
@{
    ViewBag.Title = "About minions";
}

<h2><b>About minions</b></h2>

<div class="MainContent">
    <div class="left">
        <p>phasellus tincidunt felis sapien</p>
        <p>eget finibus turpis</p>
        <p>in hac habitasse platea dictums</p>
        <p>etiam efficiturefficitur, eros a tempus dignissim, elit nisi maxes arcu</p>
        <p>Nam sed faucibus lectus. Nullam lacinia ac lectus et porta</p>
        <p>Pretium justo. Proin fringilla pellentesque urna vitae efficitur</p>
        <p>vehicula sollicitudin. Cras maximu</p> 
        <p>elit nisi maximus odio</p>
        <p>donec accumsan libero</p>
    </div>
    <div class="right">
        <table class= "minions_pictures">
            <tr>
                <td><img src="~/Content/Images/minion1.jpg" /></td>
                <td><img src="~/Content/Images/minion2.jpg" /></td>
                <td><img src="~/Content/Images/minion3.jpg" /></td>
            </tr>
        </table>
    </div>

</div>


