
@{
    ViewBag.Title = "Contact minions";
}

<h2><b>Contact Us</b></h2>

<h3>Our Contact Details:</h3>

<ul>
    <li>E-mail: minionsandco@gmail.com</li>
    <li>Facebook: www.facebook.com/minionsandco</li>
    <li>Twitter: @@minionsco</li>    
</ul>

<h3>Our contact person:</h3>

<ul>
    <li>Andhika: 0816822638 (SMS) , 26A397F4 (Blackberry Messenger)</li>
    <li>Otniel: 0816781824 (SMS),  7B626482 (Blackberry Messenger)</li>
    <li>Our team will respond to you within 24 hours of your enquiry.</li>
</ul>

<div>



</div>

<img src="~/Content/Images/minion8.jpg" />
