
@{
    ViewBag.Title = "Minion's Page";
}

<div style="margin-left: -100px">
    <img src="~/Content/Images/minion_front.jpg" />
</div>

<h2><b>Minions</b></h2>

<ul>
    <li>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ac iaculis mauris, non malesuada sem. 
        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed pulvinar eros 
        metus, non feugiat metus posuere et. Vestibulum tempus bibendum cursus. Morbi auctor sagittis lacus, nec efficitur 
        justo rutrum non. Sed at mi ornare, pulvinar tortor ut, egestas massa. Aenean luctus vestibulum mi nec ultricies. 
        Praesent tempus molestie nisl, vel posuere magna laoreet eget. Donec pellentesque nec eros et mollis. In hac habitasse 
        platea dictumst. Vestibulum volutpat sem convallis convallis pretium. Sed dignissim risus magna, id dignissim ipsum 
        semper blandit. Nunc enim ligula, sodales in ornare id, luctus vel nisi. Sed viverra gravida metus nec egestas. 
        Nulla facilisi. Sed et ipsum consequat, consectetur turpis eget, sagittis odio. 
    </li>

    <li>
        Aenean lobortis auctor scelerisque. Morbi sagittis dignissim turpis eu porta. Nunc volutpat aliquam risus quis dictum. 
        Etiam ligula velit, dignissim eu tellus mattis, malesuada mollis nunc. Vestibulum ante ipsum primis in faucibus orci 
        luctus et ultrices posuere cubilia Curae; Nulla feugiat finibus fringilla. Aliquam a velit tellus. Mauris non massa 
        cursus, porttitor velit facilisis, dignissim elit. Sed hendrerit laoreet commodo. Donec fermentum ac lectus vel lobortis. 
        Integer vehicula tempus quam, efficitur laoreet libero placerat quis. Nam tristique nulla vel fermentum aliquam. 
        In fringilla consectetur mauris in egestas. Pellentesque sed risus vitae libero efficitur efficitur. Aliquam 
        sollicitudin urna quis velit pellentesque laoreet. Proin eu quam quis nisl consectetur ultrices. 
    </li>

    <li>
        Sed nec lacinia ante, nec lobortis arcu. Etiam tincidunt ligula ut finibus laoreet. Curabitur consequat varius 
        ultricies. In tortor orci, vehicula ac pellentesque nec, pharetra at orci. Integer elementum nunc ac dapibus viverra. 
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vestibulum eros sed neque aliquet condimentum id vel nisl. 
        Maecenas tristique vestibulum magna ut blandit. Donec eget euismod purus, vitae dapibus augue. Integer nec ante id mi 
        scelerisque gravida sed sit amet lacus. Donec gravida pharetra interdum.
    </li>
</ul>

